.global-message {
  position: fixed;
  top: 16px;
  left: 0;
  width: 100%;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  list-style: none;
  pointer-events: none;
  z-index: 1010;

  .message {
    padding: 8px;
    text-align: center;

    &:first-child {
      margin-top: -8px;
    }

    &.move-up-leave.move-up-leave-active {
      animation-name: MessageMoveOut;
      overflow: hidden;
      animation-duration: .3s
    }

    .message-content {
      display: inline-block;
      border-radius: 4px;
      padding: 10px 16px;
      background: #fff;
      box-shadow: 0 4px 12px rgba(0,0,0,.15);
      pointer-events: all;
    }
  }

  .icon {
    display: inline-block;
    float: left;
    margin-right: 16px;
    line-height: 1;
    color: #faad14;
    font-size: 22px;
    font-style: normal;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
      display: block;
      // content: '\E63B';
      font-family: anticon !important;
    }

    &.response-success:before {
      content: '\E630';
      color: #52c41a;
    }

    &.response-warning:before {
      content: '\E62C';
      color: #faad14;
    }

    &.response-error:before {
      content: '\E62E';
      color: #f5222d;
    }

    &.response-loading:before {
      content: '\E64D';
      color: #1890ff;
      display: inline-block;
      animation: loadingCircle 1s infinite linear;
    }
  }
}

.move-up-appear,
.move-up-enter,
.move-up-leave {
  animation-duration: .2s;
  animation-fill-mode: both;
  animation-play-state: paused
}

.move-up-appear.move-up-appear-active,
.move-up-enter.move-up-enter-active {
  animation-name: antMoveUpIn;
  animation-play-state: running
}

.move-up-leave {
  animation-timing-function: cubic-bezier(.6,.04,.98,.34)
}

.move-up-appear,.move-up-enter {
  opacity: 0;
  animation-timing-function: cubic-bezier(.08,.82,.17,1)
}

.move-up-leave.move-up-leave-active {
  animation-name: antMoveUpOut;
  animation-play-state: running;
  pointer-events: none
}

@keyframes MessageMoveOut {
  0% {
    opacity: 1;
    max-height: 150px;
    padding: 8px
  }

  to {
    opacity: 0;
    max-height: 0;
    padding: 0
  }
}

@keyframes antMoveUpIn {
  0% {
    transform-origin: 0 0;
    transform: translateY(-100%);
    opacity: 0
  }

  to {
    transform-origin: 0 0;
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes antMoveUpOut {
  0% {
    transform-origin: 0 0;
    transform: translateY(0);
    opacity: 1
  }

  to {
    transform-origin: 0 0;
    transform: translateY(-100%);
    opacity: 0
  }
}

@keyframes loadingCircle {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}
