$anime-duration-l: 0.36s;
$anime-duration-m: 0.24s;
$anime-duration-s: 0.12s;


$theme-disabled-bg: #f0f0f0;
$theme-disabled-color: #b3b2b3;

$theme-red-1: #ec414d;
$theme-red-1-hover: #e31624;
$theme-red-1-active: #cc1420;

$theme-gray-1: #f2f2f2;
$theme-gray-1-hover: #d9d9d9;
$theme-gray-1-active: #cccccc;

// for _navigator item size
$menuItemSize: 32px;
